@tailwind base;
@tailwind components;
@tailwind utilities;
body{
  line-height: 28px;
  box-sizing: border-box;
}

body .dark {
  background-color: #000;
  color: #fff;
}
body .light{
  background-color: #fff;
  color: #000;
}
.class{
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.data{
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 10;
}
.light .data{
  background-color: #fff;
}
.light .img{
    color: #fff; 
}
.addclass{
  font-size: 30px;
  font-weight: 600;
  height: 75vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.drop-down{
    background: transparent;
    border: 1px solid;
    padding: 10px 0px 10px 10px;
    border-radius: 8px;
    outline: none;
}
.option-val{
  background-color: #000;
  padding: 10px;

}
@media screen and (max-width:768px) {
.menu{
  position: fixed;
  width: 100%;
  top: 64px;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 0;
} 
.light .responsive{
  background-color: #fff ;
}
.light .menu {
  background-color: #fff ;
}
.responsive li a{
  text-align: center;
}
.responsive{
  z-index: 2;
  position: fixed;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0.70);
}
}
@media screen and (max-width:640px){
  .drop-down{
    width: 100%;
  }
}
@media screen and (max-width: 480px){
  .Toastify .Toastify__toast-container {
      width: 100%;
      max-width: 250px;
      top: 65px;
      right: 0 !important;
  }       
}
a.page-link{
  text-decoration: none;
  padding: 8px;
  border: 1px solid;
}
ul.pagination {
  position: relative;
  display: flex;
  justify-content: center;
  padding: 0;
  column-gap: 15px;
  margin: 10px 0 30px;
}
/* .dark a.page-link {
  color: #fff;
  border: 1px solid #fff;
}
.light a.page-link{
  color: #000;
  border: 1px solid;
} */
.light a.page-link.active {
  background: #000;
  color: #fff;
}
.dark a.page-link.active{
  background-color: #fff;
  color: #000;
} 